.footer {
    padding: 2rem 0;
    text-align: center;
    background: #efefef;

    a {
        color: inherit;
    }

    .menu {
        padding-bottom: 1rem;
        display: flex;
        justify-content: center;
    }

    .menu-item {
        padding: 0 1rem;
    }

    .social {
        a {
            display: inline-block;
            line-height: 2rem;
            margin: 0 0.5rem;
        }
    }

    .address {
        font-size: 0.8rem;

        a {
            font-weight: bold;
        }

        p {
            margin: 0.75rem 0;
        }
    }
}
