.header {
    padding: 2rem 0;
    background: $ui-nav-bg;

    .container {
        display: flex;
        align-items: center;
    }

    .logo {
        max-width: 200px;
    }

    .navigation {
        flex: 1;
        display: none;

        @include break(from-desktop) {
            display: block;
        }
    }

    .menu {
        display: flex;
        justify-content: flex-end;
    }

    .menu-item {
        position: relative;
        margin: 0 1rem;

        &:hover {
            .sub-menu {
                display: block;
            }
        }

        a {
            display: block;
            padding: 0.5rem 0;
        }
    }

    .sub-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        transition: all .3s ease-in-out;
        background: $ui-subnav-bg;
        min-width: 10rem;

        .menu-item {
            display: block;
            margin: 0;

            a {
                color: white;
                padding: 0.5rem 1rem;
                white-space: nowrap;
            }

            &:hover {
                a {
                    border-bottom: none;
                    background: black;
                }
            }
        }
    }

    a {
        color: inherit;

        &:hover {
            color: #777777;
        }
    }
}
