.accent-image {
    .container {
        @include breakpoint(from-desktop) {
            display: flex;
            align-items: center;
        }
    }

    &.align-right {
        .accent {
            order: 1;
            padding-right: 0;
        }

        .content {
            padding-left: 0;
        }
    }

    &.align-left {
        .accent {
            padding-left: 0;
        }

        .content {
            padding-right: 0;
        }
    }

    .content {
        flex: 8;
    }

    .accent {
        flex: 4;
        text-align: center;
    }

    .content,
    .accent {
        padding: 1rem 0;

        @include breakpoint(from-desktop) {
            padding: 0 1rem;
        }

        @include breakpoint(from-desktop-mid) {
            padding: 0 2rem;
        }
    }
}
