.columns {
    &.align-top {
        .inner {
            align-items: flex-start;
        }
    }

    &.align-center {
        .inner {
            align-items: center;
        }
    }

    &.align-bottom {
        .inner {
            align-items: flex-end;
        }
    }

    .inner {
        @include breakpoint(from-desktop) {
            margin: 0 -1rem;
            display: flex;
        }

        @include breakpoint(from-desktop-mid) {
            margin: 0 -2rem;
        }
    }

    .col {
        @include breakpoint(from-desktop) {
            flex: 1;
            padding: 0 2rem;
        }

        @include breakpoint(from-desktop-mid) {
            padding: 0 2rem;
        }
    }
}
