.content-grid {
    .items {
        text-align: center;

        @include breakpoint(from-tablet) {
            display: flex;
            flex-wrap: wrap;
        }

        &.cols-auto .item {
            @include breakpoint(from-tablet) {
                flex: 1;
            }
        }

        &.cols-4 .item {
            @include breakpoint(from-tablet) {
                width: 50%;
            }

            @include breakpoint(from-desktop) {
                width: 25%;
            }
        }

        &.cols-3 .item {
            @include breakpoint(from-tablet) {
                width: 50%;
            }

            @include breakpoint(from-desktop) {
                width: 33.3333%;
            }
        }

        &.cols-2 .item {
            @include breakpoint(from-tablet) {
                width: 50%;
            }
        }
    }

    .item {
        padding: 0.5rem 0;

        @include breakpoint(from-tablet) {
            padding: 0 1.25rem;
        }
    }

    .thumbnail {
        display: block;
        margin: 0 auto 1.25rem auto;
        @include box(300px);
    }

    .label {
        font-weight: 700;
        text-transform: uppercase;
    }
}
