// Body colour
$default-text-color: #222;

// Site Colours
$ui-scheme-light-text: white;
$ui-scheme-dark-text: $default-text-color;
$ui-primary: black;
$ui-secondary: grey;

// Navigation
$ui-nav-bg: lightgrey;
$ui-subnav-bg: grey;

// Social Media
$ui-social-facebook: #3b5998;
$ui-social-twitter: #55acee;
$ui-social-instagram: #8a3ab9;
$ui-social-linkedin: #007bb5;
$ui-social-youtube: #bb0000;
