// Font Awesome
$fa-font-path: "fonts";

// Font Sizes
$font-size-base: 16px;

// Font Families
$font-family-primary: sans-serif;
$font-family-secondary: sans-serif;
$font-family-heading: $font-family-primary;
$font-family-icons: "Font Awesome 6 Pro";
